In [4]:
import os
import numpy as np
import pandas as pd

df = pd.read_csv('USGS_HHI/Prices.csv')

df = df.where(df['Year'] == 2015).dropna(subset=['Year'])
df

,Element,Year,Dollars,Change in AbsoluteDollars,Change in Absolute Dollars (%),Price Index,1998 Dollars,Change in 1998 Dollars,Change in 1998 Dollars (%),Notes,Unnamed: 10
18,Li,2015.0,6.500000,1.450000,28.71%,1.456785,4.461880,0.989371,28.49%,NaN,NaN
36,Be,2015.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,B,2015.0,0.770000,0.000000,0.00%,1.456785,0.528561,-0.000911,-0.17%,NaN,NaN
72,N,2015.0,0.504307,-0.162591,-24.38%,1.456785,0.346178,-0.112398,-24.51%,NaN,NaN
90,Al,2015.0,1.944475,-0.359353,-15.60%,1.456785,1.334771,-0.249400,-15.74%,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1026,Tb,2015.0,562.000000,-151.000000,-21.18%,1.456785,385.781026,-104.496034,-21.31%,NaN,NaN
1044,Tm,2015.0,NaN,NaN,NaN,1.456785,NaN,NaN,NaN,NaN,NaN
1062,Yb,2015.0,NaN,NaN,NaN,1.456785,NaN,NaN,NaN,NaN,NaN
1080,Y,2015.0,8.000000,-8.000000,-50.00%,1.456785,5.491545,-5.510465,-50.09%,NaN,NaN
1098,Sc,2015.0,5100.000000,100.000000,2.00%,1.456785,3500.859845,62.731795,1.82%,NaN,NaN

In [6]:
df['Element'].values

array(['Li', 'Be', 'B', 'N', 'Al', 'P', 'S', 'K', 'Ca', 'Ti', 'V', 'Cr',
       'Mn', 'Fe', 'Co', 'Ni', 'Cu', 'Zn', 'Ga', 'As', 'Se', 'Br', 'Sr',
       'Rare Earths', 'Zr', 'Nb', 'Mo', 'Platinum Group', 'Ag', 'Cd',
       'Sn', 'Sb', 'Te', 'I', 'Ba', 'Ta', 'W', 'Re', 'Au', 'Hg', 'Pb',
       'Bi', 'Th', 'Pd', 'Pt', 'Ce', 'Dy', 'Er', 'Eu', 'Gd', 'Ho', 'La',
       'Lu', 'Nd', 'Pr', 'Sm', 'Tb', 'Tm', 'Yb', 'Y', 'Sc'], dtype=object)